*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.70);
}

section{
    margin: 50px 0;
}

.card {
    display: flex;
    flex-direction: column;
    width: 330px;
    min-height: 430px;
    padding: 45px ;
    background-color: hsl(31, 77%, 52%);
    /* justify-content: space-between; */
}
h2{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 40px;
    padding-bottom: 40px;
    margin: 0;
    
}

p{
    /* border: 1px solid red; */
    margin-bottom: 55px;
    height: 100px;
}

.card:first-child{
    border-radius: 10px 10px 0 0;
}
.card:last-child{
    border-radius:0 0 10px 10px;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
}
.suv {
    background-color: hsl(184, 100%, 22%)
}
.luxury {
    background-color: hsl(179, 100%, 13%);
}

img{
    width: 65px;
    padding-bottom: 40px;
}

button {
    width: 145px;
    height: 45px;
    border-radius: 100px;
    border-style: none;
    outline: none;
    color: black;
    mix-blend-mode: screen;
    font-weight: 400;
    letter-spacing: .4px;
    font-size: 14px;
    background-color: hsl(0, 0%, 95%);
    /* margin-top: 30px; */
    transition: background-color .5s ease-out;
}

button:hover{
    background: black;
    mix-blend-mode: screen;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    transition: background-color .5s ease-out;
    
}

@media only screen and (min-width: 995px) {

    section{
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height:80vh;
    }
    .card{
        height: 450px;
    }
    .card:first-child{
        border-radius: 10px 0 0 10px;
    }
    .card:last-child{
        border-radius:0  10px 10px 0;
    }
  }